@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'iransans';
  src: url('./fonts/IRANSansWeb.woff2') format('woff2'),
       url('./fonts/IRANSansWeb.woff') format('woff'),
       url('./fonts/IRANSans.ttf') format('truetype');
}

@font-face {
  font-family: 'iransanslight';
  src: url('./fonts/IRANSansWeb_Light.woff2') format('woff2'),
       url('./fonts/IRANSansWeb_Light.woff') format('woff'),
       url('./fonts/IRANSans_Light.ttf') format('truetype');
}
@font-face {
  font-family: 'iransansul';
  src: url('./fonts/IRANSansWeb_UltraLight.woff2') format('woff2'),
       url('./fonts/IRANSansWeb_UltraLight.woff') format('woff'),
       url('./fonts/IRANSans_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'iransansmedium';
  src: url('./fonts/IRANSansWeb_Medium.woff2') format('woff2'),
       url('./fonts/IRANSansWeb_Medium.woff') format('woff'),
       url('./fonts/IRANSans_Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'iransansbold';
  src: url('./fonts/IRANSansWeb_Bold.woff2') format('woff2'),
       url('./fonts/IRANSansWeb_Bold.woff') format('woff'),
       url('./fonts/IRANSans_Bold.ttf') format('truetype');
}


#mainmsg
{
	font-family: 'iransansbold';
	color:lightgray;
	font-size: 22px;
	margin-top: 50px;
  font-size: 30px;
  text-transform:capitalize;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#proj
{
	font-family: 'iransansmedium';
	color:lightgray;
	font-size: 22px;
	margin-top: 50px;
  font-size: 30px;
  text-transform:capitalize;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#txtcontact
{
	
}
ul { 
	display:table; margin:0 auto;
	text-align: left;
}

.header
{
  border: 1px solid #1796F3;border-radius: 15px;
	margin-top: 40px;
	margin-bottom: 40px;
	
	
	
}.txtcontact 
{
	color:darkgrey;
	font-size: 12px;
}
.myButton {
	background-color:transparent;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1796F3;
	display:inline-block;
	cursor:pointer;
	color:#1796F3;
	font-family:'iransanslight';
	font-size:17px;
	padding:8px 36px;
	text-decoration:none;
	margin-bottom: 15px;
	margin-top: 15px;
}
.myButton:hover {
	background-color:transparent;
	text-decoration: none;
}
.myButton:active {
	position:relative;
	top:1px;
}

