@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'iransans';
  src: url('./fonts/IRANSansWeb.woff2') format('woff2'),
       url('./fonts/IRANSansWeb.woff') format('woff'),
       url('./fonts/IRANSans.ttf') format('truetype');
}

@font-face {
  font-family: 'iransanslight';
  src: url('./fonts/IRANSansWeb_Light.woff2') format('woff2'),
       url('./fonts/IRANSansWeb_Light.woff') format('woff'),
       url('./fonts/IRANSans_Light.ttf') format('truetype');
}
@font-face {
  font-family: 'iransansul';
  src: url('./fonts/IRANSansWeb_UltraLight.woff2') format('woff2'),
       url('./fonts/IRANSansWeb_UltraLight.woff') format('woff'),
       url('./fonts/IRANSans_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'iransansmedium';
  src: url('./fonts/IRANSansWeb_Medium.woff2') format('woff2'),
       url('./fonts/IRANSansWeb_Medium.woff') format('woff'),
       url('./fonts/IRANSans_Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'iransansbold';
  src: url('./fonts/IRANSansWeb_Bold.woff2') format('woff2'),
       url('./fonts/IRANSansWeb_Bold.woff') format('woff'),
       url('./fonts/IRANSans_Bold.ttf') format('truetype');
}


#mainmsg
{
	font-family: 'iransansbold';
	color:lightgray;
	font-size: 22px;
	margin-top: 20px;
}
#txtcontact
{
	
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
.bodycls{
  
  padding: 3em;
  color:black;
  font-family: 'Anonymous Pro', monospace;  
  background-color: #f6f8f7;
}
.line-1{
    
    margin: 0 auto; 
    width: 28em;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 18em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}

.button {
border-radius:15px;
  border: 1px solid rgba(255,255,255,.75);
  background-color: rgb(25,25,25); 
font-family: 'Anonymous Pro', monospace; 
  color: rgba(255,255,255,.75);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
	
}
.button:hover {
	text-decoration: none;
	color:aliceblue;
	background-color:#525252;
}
img
{
	margin-bottom: 50px;
	width: 600px;
	height: 400px;
}
.footer
{
	margin-top: 40px;
	color: #646262;
	font-size: 14px;
}